{
  "openapi": "3.0.3",
  "info": {
    "title": "Velora Global Platform API",
    "version": "1.0.0",
    "description": "Public REST API endpoints for Velora Global: service health, internship and training program listings, and certificate verification. Authenticated student, client and admin endpoints exist but are documented separately in the application.",
    "contact": {
      "name": "Velora Global",
      "email": "info@velora-global.online",
      "url": "https://velora-global.online"
    }
  },
  "servers": [
    {
      "url": "https://velora-global.online/api",
      "description": "Public API origin (proxied to the Velora Global backend)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Platform Health Check",
        "description": "Returns the operational status of the Velora Global backend API.",
        "responses": {
          "200": {
            "description": "System Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "app": { "type": "string", "example": "Velora Global Enterprise Server" },
                    "timestamp": { "type": "string", "example": "2026-09-28T09:49:02.921Z" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/certificates/verify/{certificateId}": {
      "get": {
        "summary": "Verify Student Certificate",
        "description": "Public verification endpoint for student credentials by certificate ID.",
        "parameters": [
          {
            "name": "certificateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "VG-2026-88491"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate details and validity status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "verified": { "type": "boolean", "example": true },
                    "certificate": {
                      "type": "object",
                      "properties": {
                        "certificateId": { "type": "string" },
                        "name": { "type": "string" },
                        "program": { "type": "string" },
                        "duration": { "type": "string" },
                        "issuedDate": { "type": "string" },
                        "organization": { "type": "string", "example": "Velora Global" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The address is not a certificate ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "verified": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Not a valid certificate ID" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No certificate recorded against that ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "verified": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Certificate not found" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs": {
      "get": {
        "summary": "List Available Internship & Training Programs",
        "description": "Returns internship and training tracks with their domain, duration, level and published fee. Supports optional domain and search query parameters.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "example": "Frontend Development" }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of programs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "title": { "type": "string" },
                      "domain": { "type": "string" },
                      "description": { "type": "string" },
                      "duration": { "type": "string" },
                      "level": { "type": "string" },
                      "locationType": { "type": "string" },
                      "skillsRequired": { "type": "array", "items": { "type": "string" } },
                      "fee": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
